<footer class="footer-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>About Us</h3>
          <p>FactforMe is a website that proves that a date of birth is so much more than just a date. By some simple math calculations it shows, the amount of facts that can be revealed about you by us of some average datas.</p>
        </div>

        <div class="col-md-3 ml-auto">
          <h3>Links</h3>
          <ul class="list-unstyled footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">What is Facts4Me</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h3>Contact info</h3>
          <p>You can email us at your.builder@rediffmail.com</p>
        </div>

      </div>

      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
          <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy; anandkishorprasad <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>


  
</div> <!-- .site-wrap -->

<script src="/theme/js/jquery-3.3.1.min.js"></script>
<script src="/theme/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/theme/js/jquery-ui.js"></script>
<script src="/theme/js/popper.min.js"></script>
<script src="/theme/js/bootstrap.min.js"></script>
<script src="/theme/js/owl.carousel.min.js"></script>
<script src="/theme/js/jquery.stellar.min.js"></script>
<script src="/theme/js/jquery.countdown.min.js"></script>
<script src="/theme/js/bootstrap-datepicker.min.js"></script>
<script src="/theme/js/jquery.easing.1.3.js"></script>
<script src="/theme/js/aos.js"></script>
<script src="/theme/js/jquery.fancybox.min.js"></script>
<script src="/theme/js/jquery.sticky.js"></script>


<script src="/theme/js/main.js"></script>
  
</body>
</html>